<div class="container" ng_init="init()">
    <div class="row">
        <p class="lead">
            Page: {{page}}
        </p>
        <pager total-items="totalItems" page="page" align=false></pager>
        <accordion close-others="false">
            <accordion-group ng-repeat="sc in socialCommitments">
                <accordion-heading>
                    {{sc.created}} {{sc.performative}} {{sc.action}}
                </accordion-heading>
                Debtor: {{sc.debtor}}<br />
                Creditor: {{sc.creditor}}<br />
                Fulfilled: {{sc.fulfilled}}<br />
                Message: {{sc.message}}
            </accordion-group>
        </accordion>
        <pager total-items="2000" page="page" align=false></pager>
    </div>
</div>
