<div class="container" ng_init="init()">
    <div class="row">
        <p class="lead">
            Total: {{socialCommitments.length}}
        </p>
        <accordion close-others="false">
            <accordion-group ng-repeat="sc in socialCommitments">
                <accordion-heading ng-hide={{sc.fulfilled}}>
                    {{sc.created}} {{sc.type }} {{sc.action}}
                </accordion-heading>
                Debtor: {{sc.debtor}}<br />
                Creditor: {{sc.creditor}}<br />
                Message: {{sc}}
            </accordion-group>
        </accordion>
</div>
